p-checkbox {
  font-size: 36px;
}

p-radio {
  font-size: 25px;
}

p-checkbox,
p-radio {
  margin-top: 5px;
  margin-right: 0.3em;

  &:last-child {
    margin-right: 0;
  }

  p-toggle[type='off'] .ms {
    opacity: 0.5;

    /**
     * Unset pretty-checkbox's default color in order to keep the icons original colors
     *
     * See {@link https://github.com/lokesh-coder/pretty-checkbox/blob/84ef0d820146ccfaa181649f45dff71a7026ca21/src/scss/extras/_toggle.scss#L17}
     */
    color: inherit;
  }

  &:hover p-toggle[type='off'] .ms {
    opacity: 0.75;
  }
}

@media (min-width: 576px) {
  p-checkbox {
    font-size: 44px;
  }

  p-radio {
    font-size: 31px;
  }
}

@media (min-width: 768px) {
  p-checkbox {
    font-size: 60px;
  }

  p-radio {
    font-size: 42px;
  }
}

@media (min-width: 992px) {
  p-checkbox {
    font-size: 78px;
  }

  p-radio {
    font-size: 54px;
  }
}
