<div class="section">
  <!-- Mana count -->
  <div class="section">
    <ng-container *ngFor="let i of getManaCounts(); let last = last">
      <p-radio
        name="mana-count"
        shape="round"
        stroke="thick"
        outline="true"
        animation="pulse"
        [value]="i"
        [title]="getManaCountTitle(i, last)"
        [checked]="_manaCount === i"
        (change)="onManaCountChanged($event)"
      >
        <p-toggle type="on">
          <i p-icon [class]="'ms ms-cost ms-' + (last ? 'infinity' : i.toString())"></i>
        </p-toggle>
        <p-toggle type="off">
          <i p-icon [class]="'ms ms-cost ms-' + (last ? 'infinity' : i.toString())"></i>
        </p-toggle>
      </p-radio>
    </ng-container>
  </div>

  <!-- Colors -->
  <div class="section">
    <ng-container *ngFor="let color of colors">
      <p-checkbox
        shape="round"
        stroke="thick"
        outline="true"
        animation="pulse"
        [value]="color.symbol"
        [title]="color.name + ' (' + color.symbol + ')'"
        [checked]="selectedColors.includes(color.symbol)"
        (change)="onColorsChanged($event)"
      >
        <p-toggle type="on">
          <i p-icon [class]="'ms ms-cost ms-' + color.symbol.toLowerCase()"></i>
        </p-toggle>
        <p-toggle type="off">
          <i p-icon [class]="'ms ms-cost ms-' + color.symbol.toLowerCase()"></i>
        </p-toggle>
      </p-checkbox>
    </ng-container>
  </div>
</div>
