<div class="section">
  <ng-select
    id="set-selector"
    name="set-selector"
    dropdownPosition="bottom"
    [(ngModel)]="selected"
    [items]="sets"
    [groupBy]="'block'"
    [loading]="loading"
    [multiple]="true"
    [searchFn]="searchFn"
    [clearable]="selected.length > 1"
    [compareWith]="compareSets"
    [hideSelected]="true"
    [closeOnSelect]="selected.length === maximumSelected - 1"
    [selectableGroup]="true"
    [maxSelectedItems]="maximumSelected"
    [selectableGroupAsModel]="false"
    (change)="emitSetsChanged()"
  >
    <ng-template ng-label-tmp let-item="item" let-clear="clear">
      <span class="ng-value-label">
        <i [class]="'ss ss-' + item.code"></i>
        {{ item.name }}
      </span>
      <span
        *ngIf="selected.length > 1"
        class="ng-value-icon right"
        (click)="clear(item)"
        aria-hidden="true"
        >×</span
      >
    </ng-template>

    <ng-template ng-option-tmp let-item="item">
      <i [class]="'ss ss-' + item.code"></i>
      {{ item.name }}
    </ng-template>
  </ng-select>
</div>
