<div
  class="section"
  *ngIf="selectedSets$ | async as selectedSets; else setsLoadingOrError"
>
  <mct-mtg-set-selector
    [sets]="draftSets$ | async"
    [loading]="!!(setsLoadingCards$ | async).length"
    [selected]="selectedSets"
    [maximumSelected]="maximumSetsSelected"
    (setsChanged)="onSetsChanged($event)"
  ></mct-mtg-set-selector>

  <mct-mtg-mana-selector
    *ngIf="manaFilter$ | async as manaFilter"
    [manaCount]="manaFilter.cmc"
    [selectedColors]="manaFilter.colors"
    (manaChanged)="onManaChanged($event)"
  ></mct-mtg-mana-selector>

  <div class="section">
    <ng-container *ngIf="setsLoadingCards$ | async as setsLoadingCards">
      <p *ngIf="setsLoadingCards.length">
        {{ getSetsLoadingCardsMessage(setsLoadingCards) }}
      </p>
    </ng-container>

    <ng-container *ngIf="filteredCards$ | async as filteredCards">
      <div
        class="cards-container"
        *ngIf="filteredCards.length; else emptyFilteredCards"
      >
        <mct-mtg-card
          *ngFor="let card of filteredCards"
          [card]="card"
        ></mct-mtg-card>
      </div>

      <ng-template #emptyFilteredCards>
        <p>There are no cards matching the current filter.</p>
      </ng-template>
    </ng-container>
  </div>
</div>

<ng-template #setsLoadingOrError>
  <ng-container *ngIf="setsLoadingError$ | async; else setsLoading">
    <p>Couldn't load the draft sets !</p>
    <div class="centered-x">
      <ul>
        <li>
          <a href="https://scryfall.com/" target="_blank">Scryfall</a> might be
          temporarily unavailable: you can check their status
          <a href="https://www.saashub.com/scryfall-status" target="_blank"
            >here</a
          >
        </li>
        <li>
          Access to the Scryfall API might be forbidden from your network:
          please contact your network administrator
        </li>
      </ul>
    </div>
  </ng-container>
</ng-template>

<ng-template #setsLoading>
  <p>Loading the draft sets (this may take some time) ...</p>
</ng-template>
