mct-mtg-feature-playing-around {
  text-align: center;

  li,
  ng-select {
    text-align: left;
  }

  ng-select {
    width: 90%;
    margin: auto;
  }

  @media (min-width: 576px) {
    ng-select {
      width: 65%;
    }
  }
}
